/*** sectioning elements ***/

body {
  margin: auto;
  background-color: #80aaff;
}

header {

}

main {
  padding: 1cm
text-align: center;
}

footer {

}

nav {

}

section {

}

aside {

}


/**** content styles ***/

h1 {
font-family: 'Barrio', cursive;
}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p {
text-align: center;
}

blockquote {

}

ol {

}

ul {
  font-family: 'Barrio', cursive;
    font-family: 'Caveat Brush', cursive;
    font-size: 30px;
}

li {

}

table {

}

tr {

}

th {

}

td {

}


/*** image styles ***/

img  {

}


/*** link styles ***/

a:link {

}

a:visited {

}

a:hover {

}

a:active {

}

/*==============================================================================
    Odin component overrides
  ============================================================================*/

/* navbar*/

.navbar {
  background-color: #ffff80 ;
}

.navbar-brand {
  color: #fff ;
  font-family: ; cursive
}

.navbar-menu a:link,
.navbar-menu a:visited {
  color: #000000 ;
  font-weight: ;
}

.navbar-menu a:hover,
.navbar-menu a:active {
  border-bottom: ;
  color: #ff3333;
}
